.CartCounter {
  position: absolute;
  color: #ffff;
  font-weight: bold;
  border: 1px solid red;
  text-align: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: red;
  right: 235px;
  top: 20px;
}
.Hidden {
  display: none;
}
.Pay {
  color: red;
  position: absolute;
  font-weight: bold;
  text-align: center;
  min-width: 100px;
  padding: 5px;
  border: 1px solid red;
  top: 0;
  right: 280px;
  cursor: default;
}
